<div class="main">
    <div class="lgAddSearchDiv">
	    {{#if login}}
		    <div class="lgAddDiv">
		    <a href="./add/item"><span class="lgSpan lgAddButton">+ Add Item for Sale</span></a>
		    </div>
	    {{/if}}
			    <div class="lgSearchDiv has-addons">
			    <form action="/search" method="post" class="lgSearchForm">
			    <input class="input" type="text" name="ProductName" placeholder="Enter Product">
			    <input class="button is-info is-outlined lgSubmitSearch" type="submit" value="Search">
		    </form>
		    </div>
    </div>
	<div class="columns lgColumn is-multiline">
        {{#each items}}
            <div class="is-one-quarter column cardColumn">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">

	                        {{#each photo}}
		                        {{#if localFlg}}
			                        <img src="{{path}}" alt="Placeholder image">
		                        {{/if}}
	                        {{else}}
		                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
	                        {{/each}}

                        </figure>
                    </div>
                    <header class="card-header">
                        <p class="card-header-title">
                            {{name}}
                        </p>
                        <a href="#" class="card-header-icon" aria-label="more options">
                          <span class="icon">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                          </span>
                        </a>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            {{description}}
                            <br>
                            <span class="price">${{price}}</span>
                        </div>
                    </div>
                    {{#if loggedIn}}
                        <footer class="card-footer">
                            {{#unless isUser}}
                                <a href="#" class="card-footer-item item-save">
	                                {{#if savedFlg}}Saved{{else}}Save{{/if}}
                                  </a>
                            {{/unless}}
                            {{#if isUser}}
                                <a href="#" class="card-footer-item item-delete">Delete</a>
                            {{/if}}
	                        <span class="is-hidden itemID">{{_id}}</span>
                        </footer>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>
</div>