<div class="columns lgWrap">
<header>My Items</header>
      {{#each personalitems}}
          <div class="column is-one-third lgColumn">
              <div class="card">
                  <div class="card-image">
                      <figure class="image is-4by3">
                          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                      </figure>
                  </div>
                  <header class="card-header">
                      <p class="card-header-title">
                          {{name}}
                      </p>
                      <a href="#" class="card-header-icon" aria-label="more options">
                        <span class="icon">
                          <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </a>
                  </header>
                  <div class="card-content">
                      <div class="content">
                          {{description}}

                          <span class="price">${{price}}</span>
                      </div>
                  </div>

                      <footer class="card-footer">
                          <a id="#" class="card-footer-item"><span class="deleteFunction" id="delete_{{this._id}}">Delete</span></a>
                          <a id="#" class="card-footer-item"><span class="interestedFunction" id="{{this._id}}">Interested</span></a>
                          {{data}}

                      </footer>


              </div>
          </div>
      {{/each}}
  </div>
