<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>

    <nav class="navbar is-light">
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item title" href="/">val=n Project</a>
        </div>
        <div class="navbar-end">
          {{#if user}}
            <span class="navbar-item">
              <figure class="image is-16x16">
                <img src="{{ user.picture }}" alt="Image">
              </figure>
              &nbsp;
              {{ user.displayName }}
            </span>
            <a class="navbar-item" href="/logout">log out</a>
          {{else}}
            <a class="navbar-item" href="/login">log in</a>
          {{/if}}
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="content">
        <p>Some Content</p>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascripts/local.js"></script>
    {{#each scripts}}
      <script src="/javascripts/{{this}}"></script>
    {{/each}}
  </body>
</html>
